<div style="margin-bottom: -30px!important;">

    <div style="display: flex; align-items: center; justify-content: center; ">
        <img src="/images/fire-flame-logo-design-template-vector.png"
             style="width: 35px; height: 35px;" />
        <h6 style="color: #db5e16; margin: 0;">FireFit</h6>
    </div>
</div>